.step--form-container {
    width: 60rem;
}

.step--form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.step-one--select-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.step-two--select-field {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    flex-wrap: nowrap;
    justify-content: center;
}


#sex,
#age,
#personType {
    width: 40.5%;
}

.step-one--button-container {
    display: flex;
    justify-content: flex-end;
}
