.step-one--form-container {
    width: 35rem;
}

.step-one--form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.step-one--select-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

#sex,
#age,
#personType {
    width: 40.5%;
}

.step-one--button-container {
    display: flex;
    justify-content: flex-end;
}
