.step--form-container {
    width: 60rem;
}

.step--form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.step-one--select-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.step-two--row-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    justify-content: center;
    flex-direction: row;
}

.step-two--select-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.remove-btn--container {
    margin-top: 1.8rem;
}

#sex,
#age,
#personType {
    width: 40.5%;
}

.step-one--button-container {
    display: flex;
    justify-content: flex-end;
}

.step-two--button-container {
    display: flex;
    justify-content: space-between;
}

.summary--container {
    width: 60rem;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

table,
th,
td {
    border: 1px solid black;
}
